<nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <img src="assets/img/favicon.ico" alt="" width="50" height="30"/>
        <a class="navbar-item" href="/" style="font-weight:bold;">
          URLShortener
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item is-active">Home</a>
          <a href="/" class="navbar-item">Go</a>
        </div>
      </div>
    </div>
  </nav>